<!DOCTYPE html>
<html>
  <head>
    <title>驗證</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
      body {
        background-color: #1b1b1f;
        color: #b3c5ff;
      }
      .page-footer {
        background-color: #1b1b1f;
      }
    </style>
    <script src="<%= captcha_provider_script %>" async defer></script>
  </head>

  <body>
    <div class="container">
      <h1 class="center-align">驗證</h1>
      <h4 class="center-align">
        請在下方通過 <%= captcha_provider %> 驗證以確保您不是機器人。
      </h4>
      <form action="/verify/solve" method="POST" id="captcha_verification">
        <div class="row">
          <div class="col s12 m6 offset-m3">
            <div class="g-recaptcha h-captcha cf-turnstile" data-sitekey="<%= captcha_sitekey %>" data-callback="onPassed" data-expired-callback="onExpired"></div>
          </div>
        </div>
      </form>
    </div>
    <footer class="page-footer">
      <div class="container">
        <div class="center-align">
          <a class="waves-effect waves-light btn" href="../verify/logout" style="background-color: #1c4195;">登出</a>
        </div>
      </div>
    </footer>
    <script>
      function onPassed() {
        document.getElementById('captcha_verification').submit();
      }
      function onExpired() {
        location.reload();
      }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>